.modal_opn_btn {
  background-color: #637eea;
}

.search_input {
  outline: none;
  border-radius: 20px;
  padding: 16px 22px;
  background-color: #fff;
}

.btn {
  background-color: #0099ff;
  border-radius: 26px;
  padding: 16px 34px;
}

.mdl_input {
  background-color: #e9edf4 !important;
}
