.main{
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(66, 82, 90);
}
.username::placeholder{
    font-size: 1.6rem;
}
.password::placeholder{
    font-size: 1.6rem;
}
input.username,
input.password {
    font-size: 2rem; 
    padding: 0.5rem;
    outline: none;
    border: 1px solid #c2c2cb;
}

.lgn_btn,
.reg_btn,
.vrf_btn {
    background-color: #6999E1;
    cursor: pointer;
}
