.district_main_container {
  /* background-color: rgb(42 59 80); */
  /* color: #6798E1; */
  height: 100vh;
  overflow: auto;
}

.district_main_container div h1 {
  color: #0052cc;
}

.search_input {
  outline: none;
  /* border: 1px solid #c2c2cb; */
  /* background-color: #f5f5f5; */
  border-radius: 30px;
  padding: 16px 22px;
}

.search_input:focus {
  filter: drop-shadow(0px 0px 4px white);
}

.search_btn {
  background-color: #0099ff;
  border-radius: 26px;
  padding: 16px 34px;
}

.search_btn:hover {
  /* filter: drop-shadow(0px 0px 4px #0099ff); */
  background-color: #0099ffdf;
  color: #fff;
}

.data_tbl {
  width: 100%;
  margin-top: 50px;
  font-size: 20px;
}

.data_tbl thead {
  background-color: #f0f0f9;
}

.data_tbl thead tr th {
  padding: 10px;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 100 !important;
}

.data_tbl tbody tr td {
  font-size: 1.05rem;
}

.data_tbl tbody tr,
.data_tbl thead {
  border: 1px solid #c2c2cb;
  filter: drop-shadow(0px 0px 4px white);
}

.data_tbl tbody tr {
  background-color: #fff;
  text-align: center;
}

.data_tbl tbody tr td {
  padding: 20px;
}

.end_btn {
  font-size: x-large;
}
